{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1>Estas en login</h1>

        <br>

        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="" placeholder="Nombre del aprendiz">
            <br>
            <input type="password" name="password" id="" placeholder="Ingrese contraseña">
            <br>
            <button type="submit">Iniciar</button>
        </form>
    </div>

</body>
</html>
{% endblock %}